

h1, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color:#6795be;
	text-align:center;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color:#8cb5ff;
	text-align:center;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	background: #2a2a2a;
	color:#58748d;
	text-align:center;

}

a{
	color: #6795be;
}

footer {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
	padding: 10px 0px;
	font-size: 10pt;
}